[submodule "lib/tiny-gea-api"]
	path = lib/tiny-gea-api
	url = https://github.com/geappliances/tiny-gea-api
[submodule "lib/tiny"]
	path = lib/tiny
	url = https://github.com/ryanplusplus/tiny
[submodule "lib/public-appliance-api-documentation"]
	path = lib/public-appliance-api-documentation
	url = https://github.com/geappliances/public-appliance-api-documentation
